
.ipynb_checkpoints/mvp-checkpoint.ipynb
.ipynb_checkpoints/ignore-heartdisease-eda-prediction-checkpoint.ipynb
.ipynb_checkpoints/classification_heart_disease_summary-checkpoint.ipynb
.ipynb_checkpoints/classification-heart-disease_mvp-checkpoint.ipynb
.ipynb_checkpoints/classification-heart-disease-model-checkpoint.ipynb
⤴️ classification project library
ignore.classification-mvp-Copy1.ipynb
ignore-heartdisease-eda-prediction.ipynb
.ipynb_checkpoints/ignore.classification-mvp-Copy1-checkpoint.ipynb
.ipynb_checkpoints/classification_heart-disease_summary-checkpoint.ipynb
.ipynb_checkpoints/classification_heart-disease_summary-Copy1-checkpoint.ipynb
